*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume-total{
     
    padding:30px;
}
.resume-total h1{
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    flex-wrap: wrap;
    font-size:400;
    font-weight: bold;
    padding-bottom: 30px;
}
.resume-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-imgone{
    border: 4px solid rgba(0,0,0,.4);
    outline: 3px solid rgba(224, 121, 121, 0.6);
    outline-offset: 5px;
    box-shadow: 0 0 60px rgb(148, 97, 97);
}